* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    background-color: #f2f2f2;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

header {
    padding: 40px;
    
}

.logotext {
    display: flex;
}

header img {
    padding-top: 0px;
    width: 100px;
    height: 27px;

}

header a {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#494949;
    font-weight: lighter;

}

.sobre {
    padding-left: 150px;
    font-size: 20px;

}

.receitas {
    padding-left: 40px;
    font-size: 20px;
}

.box {
    height: 366px;
    width: 100%;
    background-color: #FBDFDB;
    border-radius: 30px;
    /* box-shadow: 2px 1px 3px rgba(50, 50, 50, 0.77); */

}

.box img {
    padding-top: 50px;
    padding-right: 100px;
    float: right;

}

.box h1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
    padding-left: 80px;
    opacity: 80%;
    padding-bottom: 20px;
}

.box h3 {
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
    display: block;
    opacity: 60%;
    padding-left: 80px;
}

.acessadas {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    color: #404040
}

/*CARDS*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 80px;

}

.card {
    width: 100%;

}

.card-image-container img {
    width: 100%;
    border-radius: 16px;
    height: 150px;
    box-shadow:5px 3px 4px rgba(50, 50, 50, 0.77);
    cursor: pointer;
}

.card-content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #505050;
    padding-top: 08px;
    font-weight: bold;

}

.card-info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(112, 112, 112);
}

.bottom {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #dadada;
    text-align: center;
}

.bottom p {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
}

/* PAGE SOBRE */

.page-sobre {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-top: 50px;
}

.page-sobre h1{
    padding-bottom: 18px;
}

.page-sobre h2 {
    padding-bottom: 18px;
}

.page-sobre p {
    padding-bottom: 40px;
}

/* MODAL */
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

}

.modal {
    background-color: white;
    width: 50%;
    height: 55%;
    margin: 25vh auto;
    position: relative;
    border-radius: 25px;
}

.modal .close-modal {
    color: rgb(71, 70, 70);
    position: absolute; /*esse basolute respitar o relative do pai (acima)*/
    right: 50%;
    bottom: 0;
    padding-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Roboto', sans-serif; 
}

/* MODAL ACTIVE */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content img{
    width: 80%;
    height: 70%;
    padding: 80px 50px 50px 93px;
    
}